/* glowing hover card made by: csozi | Website: english.csozi.hu*/

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 0.5));
  }
  
  .card::after {
    content: '';
    position: absolute;
    z-index: 1;
    transition: 0.3s ease;
    height: 98%;
    width: 98%;
    top: 1%;
    left: 1%;
    border-radius: 28px;
  }